<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLcasinoEntities" connectionString="metadata=res://*/QlcasinoEntity.csdl|res://*/QlcasinoEntity.ssdl|res://*/QlcasinoEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-7CN4T6IO\SQLEXPRESS01;initial catalog=QLcasino;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>